{% extends 'auth/show.html.twig' %}

{% block body %}
{{ parent() }}
{% endblock %}

{% block body1 %}
    <!-- Breadcomb area Start-->
    <h2 class="h3 mb-2 text-gray-800"></h2>

    <!-- Breadcomb area End-->

    <!-- DataTables Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste Des Plannings</h6>
        </div>
        <div class="card-body">
            <!-- Topbar Search -->
            <form method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="datetime" name="date" class="form-control bg-light border-0 small"  aria-label="Search" >
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Topbar Navbar -->
            <p><div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Date Planning</th>
                        <th>Photo Candidat</th>
                        <th>Nom Candidat</th>
                        <th>Nom Moniteur</th>
                        <th>Marque voiture</th>
                        <th>Serie voiture</th>
                        <td>Supprimer</td>
                        <td>Modifier</td>
                    </tr>
                    {% for Plan in planning %}
                    <tr> <td>{{ Plan.date.date|date("d-m-Y")}}</td>
                        <td><img src="{{ asset('images/' ~ Plan.candidat.file) }}" style=" border-radius: 50%; width: 60px;high:50px;"></td>
                         <td>{{ Plan.candidat.nom}}</td>
                         <td>{{ Plan.moniteur.nom }}</td>
                         <td>{{ Plan.voiture.marque}}</td>
                         <td>{{ Plan.voiture.serie}}</td>
                        <td><a href="{{ path('supprimerP',{'id':Plan.id}) }}" class="btn btn-danger btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-trash"></i></samp><samp class="text">Supprimer</samp></a></td>
                        <td><a href="{{ path('modifierP',{'id':Plan.id}) }}" class="btn btn-success btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-check" ></i></samp><samp class="text">Modifier</samp></a></td>
                    </tr>
                    </thead>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div></p>


    <!-- /.container-fluid -->

{% endblock %}







