<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<head>

    <link href="{{ asset('template./css/sb-admin-2.min.css') }}" type="text/css" rel="stylesheet"/>
    <title>Gestion Auto-Ecole</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('template./vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('template./https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet') }}">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>

        .page {
            width: 1024px;
            position: relative;
            left: 10%;
            justify-content: center;
            padding-right: 10%;

        }
        h1{ text-align: center;  color: #d62516}
        h2{ text-align: center;}
        input{left: 15%}
        button.btn.btn-primary.btn-user.btn-block {
            position: relative;
            top: -35px;
            float: right;
            display: block;
            left: -21%;
            width: 100px;
        }
    </style>
<body >
<div class="page">
    <h1>Recherche par libelle</h1>


<form method="post">
    <input type="text" class="col-sm-6" name="libelle">
    <div class="" >
        <button type="submit" class="btn btn-primary btn-user btn-block ">
            <i class=""></i> Chercher
        </button>
    </div>
</form>


<h2>Liste des modeles</h2>
    <table border="1" class="table table-bordered dataTable" id="dataTable" width="100%"
           cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <tr>
        <td>id</td>
        <td>libelle</td>
        <td>pays</td>
        <td>couleur</td>
        <td>Supprimer</td>
        <td>Modifier</td>

    </tr>
    {% for model in modele %}
    <tr><td>{{ model.id }}</td>
        <td>{{ model.libelle }}</td>
        <td>{{ model.pays }}</td>
        <td>{{ model.couleur }}</td>
        <td><a href="{{ path('supprimerM',{'id':model.id}) }}" class="btn btn-danger btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-trash"></i></samp><samp class="text">Supprimer</samp></a></td>
        <td><a href="{{ path('modifierM',{'id':model.id}) }}" class="btn btn-success btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-check" ></i></samp><samp class="text">Modifier</samp></a></td>
    </tr>
    {% endfor %}
</table>
</Center>
</div>
</body >