{% extends 'auth/show.html.twig' %}
{% block body %}

    {{ parent() }}

{% endblock %}

{% block body1 %}

    <head>

        <link href="{{ asset('template./css/sb-admin-2.min.css') }}" type="text/css" rel="stylesheet"/>
        <title>Gestion Auto-Ecole</title>

        <!-- Custom fonts for this template-->
        <link href="{{ asset('template./vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template./https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet') }}">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
        <style>

            .page {
                width: 1024px;
                position: relative;
                left: 10%;
                justify-content: center;
                padding-right: 40%;

            }


        </style>
    </head>
    <body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Recherche Candidat</h6>
        </div>
        <div class="page">

    <!-- Topbar Search -->
            <P><P>
            <form method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input  name="Nom" class="form-control bg-light border-0 small"  aria-label="Search" >
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
            </P></P>


    <p><table border="1" class="table table-bordered dataTable" id="dataTable" width="100%"
              cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                <tr>
                    <td>Photo</td>
                    <td>Nom</td>

                    <td>Adresse</td>
                    <td>Date d'inscrioption </td>
                    <td>Telephone</td>
                    <td>Email</td>
                    <td>Supprimer</td>
                    <td>Modifier</td>

                </tr>
                {% for cand in candidat %}
                <tr>
                    <td><img src="{{ asset('images/' ~ cand.file) }}" style=" border-radius: 50%; width: 60px;high:50px;"></td>
                    <td>{{ cand.Nom }}</td>
                    <td>{{ cand.Adresse }}</td>
                    <td>{{ cand.Inscrioption|date("d-m-Y")}}</td>
                    <td>{{ cand.Telephone }}</td>
                    <td>{{ cand.Email }}</td>

                    <td><a href="{{ path('supprimerC',{'id':cand.id}) }}" class="btn btn-danger btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-trash"></i></samp><samp class="text">Supprimer</samp></a></td>
                    <td><a href="{{ path('modifierC',{'id':cand.id}) }}" class="btn btn-success btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-info-circle" ></i></samp><samp class="text">Modifier</samp></a></td>
                </tr>
                </thead>
                {% endfor %}
    </table></p>
</div>
</div>
</body>

    {% endblock %}
