{% extends 'auth/show2.html.twig' %}
{% block body2 %}

    {{ parent() }}

{% endblock %}

{% block body3 %}

    <head>

        <link href="{{ asset('') }}" type="text/css" rel="stylesheet"/>
        <title>Gestion Auto-Ecole</title>

        <!-- Custom fonts for this template-->
        <link href="{{ asset('template./vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('template./https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet') }}">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">
        <style>

            .page {
                width: 1024px;
                position: relative;
                left: 10%;
                justify-content: center;
                padding-right: 10%;

            }
            h1{ text-align: center;  color: #d62516}
        </style>
    </head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste Des Documents</h6>
        </div>
        <p><div class="page">



            <a href="{{ 'https://www.codedelaroute.fr/cours/' }}" class="btn btn-success btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-info-circle" ></i></samp><samp class="text">Cours</samp></a>
            <a href="{{ 'https://www.coderoute.com/test-code-de-la-route/' }}" class="btn btn-primary btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-flag" ></i></samp><samp class="text">Test</samp></a>
            <p><table border="1" class="table table-bordered dataTable" id="dataTable" width="100%"
                      cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
    <thead>
    <tr>
        <td>Titre</td>
        <td>PDF</td>



    </tr>
    {% for docs in Document %}
    <tr>
        <td>{{ docs.titre }}</td>
        <td><a href="{{ asset('images/' ~ docs.file) }}"  class="btn btn-warning btn-icon-split"><samp class="icon text-white-50"><i class="fas fa-check"></i></samp><samp class="text">Telecharger</samp></a></td>

    </tr>
    </thead>
    {% endfor %}

</table></p> </p>

</div>
</div>
</body>

{% endblock %}